# Aiven Cloud MySQL Configuration
DB_HOST=jayranchhodgasagency-jay-ranchhod-gas-agency.i.aivencloud.com
DB_PORT=10549
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password_here
DB_NAME=defaultdb
DB_SSL=true

# Security & Authentication
JWT_SECRET=e3492c667cafdc9fadc3e39a653aab79309b07ce03d5d0986c25f822b4b4daf9
JWT_EXPIRES_IN=8h
APP_TIMEZONE=Asia/Kolkata
NODE_ENV=production
